body, html {
  width: 100%;
  overflow-x:hidden;
}


.imagecontour {
 padding: 10px; 
 border: solid 1px #EFEFEF;
 background-color: #FFFFFF;
 }
 
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.effect2:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.c-phone {
  margin-top: 35px;
  font-size: 24px;
}

.c-top-menu {
  float: left;
  /*float: right;
  margin-right: 30px;*/
}

.c-header-buttons {
    margin-top: 33px;
    padding-left: 0;
  }

.c-header-buttons li {
  list-style-type: none;
  float:right;
  margin-bottom: 5px;
}

.c-header-buttons li:last-child {
  margin-left: 0;
}


.c-content-box.c-size-md.c-bg-green {
  background: linear-gradient(to right, #32c5d2 50%, #fff 0);
}

.map-header {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 600;
}

.map {
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.form-wrapper {
  background: #fff;
}

.c-layout-header-fixed .c-layout-header {
  position: static;
}

.c-navbar {
  background: #2F353B;
}

.c-link {
  color: white;
  font-weight: 500;
}

.nav>li>.c-link:hover {
  background: #2F353B;
}

.file_upload{
    position: relative;
    margin-left: 20px;
    overflow: hidden;
    font-size: 1em;              
    height: 46px;                 
    line-height: 1em;  
}

.file_upload .button{
    float: left;
    text-align: center; 
    background: #32c5d2;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 13px 36px;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.file_upload .button:hover {
      cursor: pointer;
}

.file_upload:hover .button{
    background: #27a8b4;
}

.file_upload input[type=file]{
    position: absolute;
    top: 0;
    opacity: 0;    
    display: none;           
}

.fa-paperclip {
  margin-right: 15px;
  font-size: 18px;
}

.form__submit {
  float: right;
  margin-right: 20px;
  padding: 13px 36px;
}

.footer-logo {
  height: 100px;
}

.fa-home, .fa-phone, .fa-envelope-o {
  margin-right: 10px;
}

.footer-navigation li {
  display: inline-block;
  margin-right: 30px;
}

.nav.navbar-nav.c-theme-nav {
  padding-left: 20px;
}

.c-layout-footer.c-layout-footer-1 .c-prefooter .c-links .c-nav.footer-navigation {
  margin-top: 40px;
}

.footer-navigation li:first-child {
  margin-right: 10px;
}

.footer-navigation li:last-child {
  margin-right: 0;
}

.c-layout-footer.c-layout-footer-1 .c-prefooter .c-links .c-nav > li > a.c-footer-link_active {
  color: #32c5d2
}

.c-layout-footer.c-layout-footer-1 .c-prefooter .c-feedback h3 {
  margin-left: 20px;
}

.c-layout-footer.c-layout-footer-1 .c-prefooter .c-feedback form .form-control {
  border-top-color: transparent;
}

.c-layout-footer.c-layout-footer-1 .c-prefooter .c-feedback form .c-form-wrap-group .form-control:last-child {
  border-top-color: #474f59;
}

.c-layout-footer.c-layout-footer-1 .c-prefooter .c-contact {
  padding: 5px 5px 5px 20px;
}

.c-content-box.c-size-md {
  padding: 30px 0;
  overflow: hidden;
}

.documents-header {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.documents-header .c-page-breadcrumbs {
  margin-top: 40px;
}

.head-block {
  padding: 10px;
  border: 1px solid #ddd;
  background: #32c5d2;
  color: #fff;
}

.head-block__header {
  color: #fff;
}

.documents-content {
  padding: 20px 0;
  background: #ddd;
}

.documents-list, .documents-files {
  padding: 10px 20px;
}

.documents-files {
  border: 1px solid #ddd;
  text-align: center;
  background: #fff;
}

.documents-files h2 {
  margin-bottom: 15px;
}

.download-documents-btn {
    background: #32c5d2;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 7px 20px;
    color: #fff;
    border: none;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.download-documents-btn:hover {
    background: #27a8b4;
}

.documents-files__list {
  padding-left: 0;
}

.documents-files__list li {
  margin-top: 15px;
  list-style-type: none;
  display: block;
}

.documents-files__list li span {
  display: block;
  width: 20%;
  float: left;
  font-size: 40px;
  margin-top: 2%;
  padding-right: 3%;
}

.documents-files__list li p {
  width: 80%;
  float: right;
  text-align: left;
  line-height: 1.3;
}

.documents-feedback {
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding: 20px 10px;
  background: #394048;
  border-bottom: 1px solid #474f59;
}

.documents-feedback h2 {
  font-size: 24px;
  color: #fff;
}

.documents-feedback p span {
  margin-left: 10px;
  font-size: 24px;
}

.documents-feedback p.upper {
  text-transform: uppercase;
}

.documents-feedback form input {
  margin-right: 20px;
  margin-top: 6px;
  padding: 7px 20px;
  border-radius: 3px;
  outline: none;
  border: none;
}

.documents-feedback form input[type="button"] {
    background: #32c5d2;
    vertical-align: top;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 20px;
    color: #fff;
    border: none;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.documents-feedback form input[type="button"]:hover {
  background: #27a8b4;
}

.documents-feedback form input[type="text"] {
  border: 2px solid #fff;
}

.documents-feedback form input[type="text"]:focus {
  border: 2px solid #32c5d2;
}

.documents-feedback form input:last-child {
  margin-right: 0;
}

.accordion {
  padding: 20px;
  background: #ddd;
}

a.c-font-bold {
  text-transform: uppercase;
}

.explain-btn {
  padding: 10px 20px;
  float: right;
  margin-right: 20px;
  color: #32c5d2;
  font-weight: 600;
  background: #fff;
  outline: none;
  border: none;  
  border-radius: 3px;
}

.explain-btn:hover {
  background: #27a8b4;
  color: #fff;
}

.hidden-block {
  display: none;
}

.sticky {  
  position: fixed;
  top: 0px;
  z-index: 101;
}

.sticky .hidden-block {
  display: block;
  float: right;
}

.sticky .hidden-block a:first-child {
  margin: 10px 15px;
  color: #fff;
}

.sticky .hidden-block a:last-child {  
  margin: 10px 0;
  color: #fff;
}


.bankruptcy-header {
  padding: 20px 10px;
  text-align: center;
}

.bankruptcy-header h1 {
  text-transform: uppercase;
  font-size: 3.6rem;
}

.bankruptcy-header__info {
  padding: 20px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.bankruptcy-header img {
  width: 100%;
  height: 300px;
}

.bankruptcy-header__info h2 {
  text-transform: uppercase;
  margin-bottom: 50px;
}

.bankruptcy-header__info input[type="button"] {
    background: #32c5d2;
    vertical-align: top;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    color: #fff;
    border: none;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.bankruptcy-header__info input[type="button"]:hover {
    background: #27a8b4;
}

.bankruptcy-procedure {
  padding: 20px 10px;
  text-align: center;
  background-color: #ddd;
}

.bankruptcy-procedure h2 {
  font-size: 36px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.bankruptcy-procedure .individual, .bankruptcy-procedure .entity {
  padding: 10px;
}

.bankruptcy-procedure .panel {
  text-align: left;
}

.bankruptcy-procedure .panel-collapse {
  background: #32c5d2;
  color: #fff;
}

.bankruptcy-procedure h3 {
  font-size: 30px;
}

.bankruptcy-procedure i.fa.fa-file-o:before {
  font-size: 20px;
  margin-right: 20px;
}

.bankruptcy-procedure .panel-collapse {
  padding: 15px 20px;
}

body.c-layout-header-fixed.c-layout-header-mobile-fixed.c-page-on-scroll strong {
  font-size: 24px;
}

.bankruptcy-short-info {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #394048;
}

.bankruptcy-short-info__block {
  padding: 15px 20px;
  background: #32c5d2;
  color: #fff;
}

.bankruptcy-short-info__block h2, .bankruptcy-short-info__block p {
  text-align: center;
  color: #fff;
}

.bankruptcy-main-info {
  padding: 15px 10px;
}


.bankruptcy-main-info a {
  font-weight: bold;
}

.bankruptcy-main-info img {
  width: 100%;
  height: 700px;
}

.bankruptcy-about-company {
  padding: 15px 10px;
  border-top: 1px solid #474f59;
  background: #ddd;
}

.bankruptcy-about-company img {
  width: 100%;
  height: 700px;
}

.bankruptcy-about-company h2, .bankruptcy-about-company h3 {
  text-align: center;
}

.bankruptcy-about-company h2 {
  font-size: 24px;
}

.bankruptcy-about-company h3 {
  margin: 30px 0 20px;
}

.bankruptcy-about-company .left {
  text-align: right;
}

.bankruptcy-about-company .right {
  text-align: left;
}

.bankruptcy-about-company .left i:before, .bankruptcy-about-company .right i:before {
  font-size: 40px;
}

.bankruptcy-process {
  padding: 15px 10px;
  background: #ddd;

}

.bankruptcy-process span {
  display: block;
  text-align: center;
  padding-top: 10px;
}

.bankruptcy-process span i:before {
  font-size: 30px;
}

.c-content-tab-1.c-theme.c-margin-t-30 {
  background: #fff;
}

.bankruptcy-process .c-content-tab-1 .nav-tabs li {
  text-align: center;
  max-width: 200px;
}

.bankruptcy-process .c-content-tab-1 .nav-tabs li a p {
  min-height: 75px;
  margin-bottom: 0;
}

.bankruptcy-process .c-content-tab-1 .row1 {
  margin-bottom: 20px;
}


.bankruptcy-header ul li {
  display: inline-block;
  background: #32c5d2;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 30px 20px;
  width: 40%;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.bankruptcy-header ul li:nth-child(2n) {
  margin-right: 0;
}

.order-call {
  display: none;
  position: absolute;
  width: 350px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #474f59;
  z-index: 100;
}

.order-call__header, .know-price__header {
  font-size: 24px;
  margin: 0;
  padding: 10px 15px; 
  border-bottom: 1px solid #474f59;
}

.order-call label {
  margin: 15px 15px 10px;
}

.order-call input[type="text"] {
  margin: 0 15px;
  padding: 3px 10px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.order-call input[type="text"]:focus {
  border: 1px solid #32c5d2;
}

.order-call p {
  font-size: 12px;
  padding: 15px;
  margin-bottom: 0;
  border-bottom: 1px solid #474f59;
}

.order-call input[type="submit"] {
  display: block;
  margin: 10px auto;
  text-transform: uppercase;
  background: #32c5d2;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  color: #fff;
  border: none;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.order-call input[type="submit"]:hover {
  background: #27a8b4;
}

.know-price {
  display: none;
  width: 800px;
  position: absolute;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #474f59;
  z-index: 100;
}

.know-price p {
  text-align: center;
  padding: 20px;
}

.know-price .left {
  text-align: right;
  padding-left: 50px;
}

.know-price .right {
  text-align: left;
  padding-right: 50px;
}

.know-price .row {
  margin-bottom: 20px;
}

.know-price label {
  margin-left: 10px;
}

.pers-info {
  border-top: 1px solid #474f59;
  border-bottom: 1px solid #474f59;
  padding: 20px 15% 0;
  text-align: right;
}

.pers-info input {
  margin-bottom: 15px;
  padding: 3px 10px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ddd;
  width: 75%;
}

.pers-info input:focus {
  border: 1px solid #32c5d2;
}

.pers-info label {
  margin-right: 15px;
}

.know-price-buttons {
  text-align: center;
}

.know-price-buttons input[type="submit"], .know-price-buttons input[type="button"] {
  display: inline-block;
  vertical-align: bottom;
  margin: 10px 0;
  text-transform: uppercase;
  background: #32c5d2;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  color: #fff;
  border: none;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.know-price-buttons input[type="submit"] {
  margin-right: 20px;
}

.know-price-buttons input[type="submit"]:hover {
  background: #27a8b4;
}

iframe {
  position: absolute;
  width: 100%;
  height: 605px;
  top: 0;
}


@media (max-width: 992px) {

  .c-layout-header-fixed.c-layout-header-mobile-fixed .c-layout-page {
    margin-top: 0;
  }

  .documents-feedback form input {
    margin: 6px auto;
  }

  .documents-feedback p span {
    display: block;
  }

  .sticky .hidden-block {
    display: none;
    float: left;
  }

  .c-content-box.c-size-md.c-bg-green {
    background: #fff!important;
  }

  .c-links {
    display: inline-block;
    
  }

  .c-phone, .c-top-menu {
    text-align: center;
  }

  .documents-feedback form input[type="text"] {
    width: 48%;
  }

  .documents-feedback form input[type="text"].sm-right {
    float: right;
  }

}

@media (max-width: 769px) {

  .bankruptcy-about-company .left {
    text-align: center;
  }

  .bankruptcy-about-company .right {
    text-align: center;
  }

  .col-sm-12 {
    width: 100%;
  }

  .documents-feedback form input[type="text"] {
    width: 100%;
  }

  .documents-feedback form input[type="text"].sm-right {
    float: left;
  }

  

}
